.displayflex{display: -webkit-flex;display: flex;}
.align_items_center{-webkit-align-items: center;align-items: center;}
.justify_content_center{-webkit-justify-content: center;justify-content: center;}
.justify_content{-webkit-justify-content: space-between;justify-content: space-between;}
.confirmorder{
	background: #F7F7F7;
	.address{
		.info{
			padding: 0.4rem 0.32rem;
			overflow: hidden;
			background: #FEFDEB;
			.displayflex;
			.justify_content;
			.align_items_center;
			img{
				width: 0.43rem;
				height: 0.61rem;
				float: left;
			}
			i{
				font-size: 0.4rem;
				float: right;
			}
			.text{
				flex: 1;
				-webkit-flex: 1;
				padding-left: 0.27rem;
				font-size: 0.4rem;
				.nameTel{
					font-size: 0.37rem;
					overflow: hidden;
					margin-bottom: 0.13rem;
					.name{
						width: 2.67rem;
						overflow: hidden;
						text-overflow:ellipsis;
						white-space: nowrap;
					} 
				}
				.detailaddress{
					font-size: 0.32rem;
				}
			}
		}
		.bom_img{
			height: 0.16rem;
			width: 100%;
			display: block;
		}
	}
	.storelist{
		background: #fff;
		margin-top: 0.27rem;
		.storename{
			.displayflex;
			.align_items_center;
			padding: 0.47rem 0 0.47rem 0.27rem;
			border-bottom: 1px solid #EEEEEE;
			img{
				width: 0.43rem;
				height: 0.43rem;
				margin-right: 0.2rem;
			}
			span{
				font-size: 0.37rem;
			}
		}
		.content{
			padding: 0.27rem 0.27rem 0;
			.good{
				overflow: hidden;
				position: relative;
				margin-bottom: 0.27rem;
				.img{
					width: 2.13rem;
					height: 2.13rem;
					overflow: hidden;
					float: left;
					margin-right: 0.33rem;
					img{
						width: 100%;
					}
				}
				.goodname{
					width: 4.8rem;
					font-size: 0.35rem;
					margin-bottom: 0.33rem;
					overflow:hidden; 
					text-overflow:ellipsis;
					display:-webkit-box; 
					-webkit-box-orient:vertical;
					-webkit-line-clamp:2;
				}
				.color{
					font-size: 0.32rem;
					color: #858585;
				}
				.price{
					font-size: 0.4rem;
					position: absolute;
					right: 0;
					top: 0;
				}
				.num{
					font-size: 0.16rem;
					color: #858585;
					position: absolute;
					right: 0;
					top: 0.67rem;
				}
			}
			.typeli{
				padding: 0.4rem 0;
				border-top: 1px solid #EEEEEE;
				overflow: hidden;
				font-size: 0.37rem;
			}
			.typeli2{
				font-size: 0.37rem;
				padding: 0.4rem 0;
				border-top: 1px solid #EEEEEE;
				.displayflex;
				.justify_content;
			}
			.distribution{
				.right{
					color: #FB0036;
				}
			}
			.promotion{
				
			}
		}
	}
}