.displayflex{display: -webkit-flex;display: flex;}
.align_items_center{-webkit-align-items: center;align-items: center;}
.justify_content_center{-webkit-justify-content: center;justify-content: center;}
.justify_content{-webkit-justify-content: space-between;justify-content: space-between;}

/*搜索icon 垂直居中*/
.weui-search-bar__label{
	.displayflex;
	.align_items_center;
	.justify_content_center;
}
/*隐藏搜索结果*/
.weui-cells.vux-search_show{
	display: none!important;
}
.weui-search-bar__cancel-btn{
	color: #FB0036!important;
}

.gathertogether{
	position: relative;
	height: 100vh;
	.top_pos{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
	}
	.scroll_nav{
		background: #fff;
		width: 100%;
		overflow: hidden;
		border-bottom: 1px solid #EEEEEE;
		.content{
			height: 1.16rem;
			overflow: hidden;
			li{
				height: 1.16rem;
				padding: 0 0.27rem;
				margin-right: 6px;
				float: left;
				line-height: 1.16rem;
				font-size: 0.4rem;
				color: #858585;
			}
			li:last-child{
				margin-right: 0;
			}
			li.active{
				color: #FB0036;
			}
		}
	}
	.active_title{
		background: #fff;
		color: #858585;
		padding: 0.27rem;
	}
	.goods_list{
		position: absolute;
		background: #F7F7F7;
		bottom: 1.33rem;
		top: 3.36rem;
		left: 0;
		width: 100%;
		.box{
			overflow: hidden;
			padding-bottom: 2.0rem;
			background: #F7F7F7;
			.item{
				width: 49.5vw;
				float: left;
				background: #fff;
				position: relative;
				margin-bottom: 1vw;
				.img{
					width: 100%;
					height: 49.5vw;
					overflow: hidden;
					img{
						width: 100%;
					}
				}
				.main{
					padding: 0.27rem 0.13rem 0.35rem;
					p{
						margin-bottom: 0.67rem;
						font-size: 0.32rem;
						overflow: hidden;
						text-overflow:ellipsis;
						white-space: nowrap;
					}
					.join{
						overflow: hidden;
						.left{
							.price{
								font-size: 0.35rem;
								color: #FB0036;
								margin-right: 0.13rem;
							}
							.sale{
								color: #858585;
								font-size: 0.29rem;
							}
						}
						.right{
							img{
								width: 0.49rem;
							}
						}
					}
				}
			}
			.item:nth-child(odd){
				margin-right: 1vw;
			}
		}
	}
	.clearing{
		height: 1.32rem;
		width: 100%;
		position: fixed;
		left: 0;
		bottom: 0;
		background: #fff;
		padding-left: 0.27rem;
		border-top: 1px solid #D8D8D8;
		-webkit-flex-direction: column;
		flex-direction: column;
		.displayflex;
		.justify_content_center;
		.smallscale{
			font-size: 0.37rem;
			color: #1C1B20;
		}
		.reduce{
			font-size: 0.29rem;
			color: #858585
		}
		.btn{
			position: absolute;
			right: 0;
			top: 0;
			width: 2.8rem;
			height: 1.33rem;
			background: #FB0036;
			color: #fff;
			font-size: 0.4rem;
			line-height: 1.33rem;
			text-align: center;
		}
	}
}

.sku_dig{
	.vux-popup-dialog{
		overflow: visible;
	}
}
/*商品规格弹窗*/
.specspopu{
	padding: 0.51rem 0.24rem 1.07rem;
	height: 80vh;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	.icon-close{
		position: absolute;
		right: 0.24rem;
		top: 0.51rem;
	}
	.success_btn{
		height: 1.07rem;
		line-height: 1.07rem;
		text-align: center;
		background: #FB0030;
		color: white;
		font-size: 0.39rem;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.thumb{
		width: 2.93rem;
		height: 2.93rem;
		border: 1px solid #D8D8D8;
		border-radius: 0.13rem;
		position: absolute;
		left: 0.27rem;
		top: -0.53rem;
		background: white;
		overflow: hidden;
		img{
			width: 100%;
		}
	}
	.title{
		padding-left: 3.39rem;
		font-size: 0.35rem;
		p{
			margin-bottom: 0.15rem;
		}
		.price{
			font-size: 0.45rem;
			color: #FB0030;
		}
	}
	.list{
		-webkit-flex: 1;
		flex: 1;
		padding-bottom: 1.6rem;
		overflow-y: scroll;
		.content{
			border-bottom: 1px solid #F0EFEF;
			margin-top: 0.67rem;
			.specsTitle{
				font-size: 0.43rem;
				margin-bottom: 0.43rem;
			}
		}
		.vux-checker-box{
			div{
				width: 1.65rem!important;
				height: 0.77rem!important;
				border-radius: 0.05rem!important;
				line-height: 0.77rem!important;
				text-align: center!important;
				margin: 0 0.35rem 0.45rem 0;
			}
		}
		.uncheck{
			 background: #F4F4F4;
			 color: #1C1B20;
		}
		.check{
			background: #FB0030;
			color: white;
		}
		.num{
			.vux-number-selector{
				svg{
					fill: #000!important;
				}
			}
			.weui-cell{
				padding-left: 0;
				padding-right: 0;
				margin-top: 0.3rem;
				p{
					font-size: 0.43rem;
				}
			}
		}
	}
}