.goodsdetails{
	font-size: 0.32rem;
	padding-bottom: 1.33rem;
	.vux-slider{
		.vux-icon-dot{
			background-color: #B5B5B5!important;
		}
		.active{
			background-color: #fb0036!important;
		}
	}
	.icon-right{
		font-size: 0.4rem;
	}
	.label{
		float: left;
		margin-right: 0.21rem;
	}
	.line{
		height: 1px;
		background: #eeeeee;
	}
	.div_box{
		padding: 0.33rem 0.27rem;
		overflow: hidden;
	}
	.bannerimg{
		width: 100%;
		height: 100%;
	}
	.information{
		border-bottom: 0.2rem solid #F7F7F7;
		/*商品标题*/
		.title{
			position: relative;
			height: 0.85rem;
			.text{
				font-size: 0.4rem;
				position: relative;
				padding-right: 1.2rem;
				line-height: 0.48rem;
				overflow:hidden; 
				text-overflow:ellipsis;
				display:-webkit-box; 
				-webkit-box-orient:vertical;
				-webkit-line-clamp:2;
				.titletag{
					width: 1.41rem;
					height: 0.4rem;
					display: inline-block;
					font-size: 0.32rem;
					color: white;
					background: #FB0036;
					border-radius: 0.05rem;
					text-align: center;
					line-height: 0.4rem;
					vertical-align: top;
					margin-right: 0.27rem;
				}
			}
			.collect{
				position: absolute;
				right: 0;
				top: 0;
				width: 0.85rem;
				height: 0.85rem;
				line-height: 1.15rem;
				text-align: right;
				.border1px{
					height: 0.85rem;
					width: 1px;
					position: absolute;
					left: 0;
					top: 0;
					background: #AAAAAA;
				}
			}
		}
		/*商品价格*/ 
		.price{
			margin-top: 0.33rem;
			margin-bottom:  0.33rem;
			img{
				width: 0.67rem;
				height: 0.37rem;
			}
			.newprice{
				font-size: 0.45rem;
				color: #FB0036;
			}
			.oldprice{
				font-size: 0.29rem;
				color: #858585;
				margin: 0 0.13rem;
			}
		}
		/*销量*/
		.sales{
			p{
				color: #858585;
			}
		}
	}
	/*领券*/
	.voucher{
		.voucherlist{
			display: inline-block;
			span{
				padding: 0.04rem 0.13rem;
				border: 1px solid #FC2F57;
				color: #FC2F57;
				border-radius: 0.05rem;
				margin-right: 0.13rem;
			}
		}
	}
	/*活动*/
	.activity{
		display: -webkit-flex;
		display: flex;
		.label{
			width: 0.64rem;
		}
		.content{
			-webkit-flex: 1;
			flex: 1;
			.list{
				margin-bottom: 0.27rem;
				.ai{
					width: 0.64rem;
					height: 0.43rem;
					border-radius: 0.05rem;
					background: #FEF0F3;
					font-size: 0.27rem;
					color: #FB0036;
					line-height: 0.43rem;
					text-align: center;
					vertical-align: middle;
				}
			}
		}
	}
	/*套餐*/
	.meal{
		border-bottom: 0.2rem solid #F7F7F7;
	}
	/*服务*/
	.service{
		border-bottom: 0.2rem solid #F7F7F7;
		span{
			margin-right: 0.48rem;
		}
		img{
			width: 0.27rem;
			height: 0.27rem;
			margin-right: 0.16rem;
			vertical-align: middle;	
		}
	}
	/* 评价 */
	.appraiseBox{
		.appraise{
			box-sizing: border-box;
			padding:0.4rem 0.27rem 0.4rem;
			height:1.173333rem;
			.divLeft{
				float:left;
				b{
					color:#1c1b20;
					margin-left:0.24rem;
				}
				b:first-child{
					margin-left:0;
				}
			}
			.divRight{
				float:right;
				span{
					color:#fc335e;
					font-weight:bold;
				}
				i{
					margin-left:0.16rem;
				}
			}
		}
		.appraiseInfo::-webkit-scrollbar{height:0px}
		.appraiseInfo{
			box-sizing: border-box;
			padding-left:0.266667rem;
			padding-right:0.266667rem;
			list-style-type: none;
			display:-webkit-flex;
			display:-ms-flexbox;
			-ms-flex-wrap:nowrap;
			flex-wrap:nowrap;
			-webkit-box-pack:justify;
			-ms-flex-pack:justify;
			-webkit-justify-content:space-between;
			justify-content:space-between;
			overflow:auto;
			.infoLeft{
				height:3.24rem;
				float:left;
				box-shadow: 0px 0px 5px #dfdbdb;
				color:#8E8E8E;
				display: -webkit-flex;
				display: flex;
				.infoLeftCon{
					float:left;
					width:4.1rem;
					box-sizing: border-box;
					padding:0 0.2rem 0 0.3rem;
					.leftTitle{
						height:1.2rem;
						font-size:0.32rem;
						.head{
							height:0.72rem;
							width:0.72rem;
							border-radius:100%;
							margin-top:0.266667rem;
							float:left;
							margin-right:0.226667rem;
						}
						span{
							float:left;
							line-height:1.2rem;
							display:inline-block;
							margin-right:0.133333rem;
						}
						.level{
							width:0.32rem;
							height:0.32rem;
							float:left;
							margin-top:0.44rem;
						}
					}
					p{
						line-height:0.533333rem;
					}
				}
				.infoRightCon{
					width:3.3rem;
					height:100%;
					position:relative;
					img{
						height:100%;
						width:100%;
					}
					span{
						position:absolute;
						bottom:0;
						right:0;
						opacity: 0.4;
						background:#000000;
						color:white;
						display:inline-block;
						width:0.84rem;
						height:0.44rem;
						font-size:0.24rem;
						line-height: 0.44rem;
					}
					/* flex:1;
					img{
						height:100%;
						width:100%;
					
					} */
				}
			}
			.moreAppraise{
				width:3.39rem;
				span{
					display:inline-block;
					width:3.24rem;
					height:3.24rem;
					text-align: center;
					line-height: 3.24rem;
					background:#F8F8F8;
					margin-left:0.15rem;
				}
			}

		}
		.border{
			height:0.2rem;
			width:100%;
			background:#F7F7F7;
		}
	}
	.collect{
		box-sizing: border-box;
		.storeCollectInfo{
			height:1.84rem;
			width:100%;
			box-sizing: border-box;
			padding:0.44rem 0.266667rem 0;
			img{
				width:1.386667rem;
				height:1.386667rem;
				margin-right:0.32rem;
				float:left;
			}
			.stars{
				float:left;
				p{
					line-height: 0.88rem;
					font-size:0.4rem;
					color:#606060;
					span{
						background:#9414fd;
						color:white;
						margin-left:0.106667rem;
						box-sizing: border-box;
						padding:0rem 0.08rem;
						border-radius:0.07rem;
						line-height: 0.4rem;
						font-size:0.24rem;
					}
				}
				img{
					width:0.35rem;
					height:0.32rem;
					margin-right: 0.03rem
				}
			}
			b{
				float:right;
				display:inline-block;
				font-size:0.32rem;
				height:0.666667rem;
				background:#FB0036;
				line-height: 0.666667rem;
				padding:0 0.2rem;
				color:white;
				font-weight:normal;
				border-radius:3px;
				margin-top:0.4rem;
			}
		}
		ul{
			display: -webkit-flex;
			display:flex;
			border-bottom: 1px solid #EEEEEE;
			li{
				box-sizing: border-box;
				border-right:1px solid #E2E2E2;
				-webkit-flex: 1;
				flex:1;
				float:left;
				height:1.1rem;
				box-sizing: border-box;
				text-align: center;
				margin:0.27rem 0 0.33rem;
				line-height: 1.1rem;
				p{
					line-height: 0.55rem;
					b{
						line-height: 0.55rem;
						color:#323232;
						margin-left:0.146667rem;

					}
					span{
						color:#9B9B9B;
					}
				}
			}
			li:last-child{
				border-right:none;
				b{
					color:#FB0036;
				}
			}
		}
	}
	.footprint{
		position:fixed;
		bottom:3rem;
		right:0.266667rem;
	}
	.goToTop{
		position:fixed;
		bottom:1.5rem;
		right:0.266667rem;
	}
	.footprint,.goToTop{
		box-shadow: 0px 0px 10px #dfdbdb;
		border-radius:100%;
		text-align: center;
		width:1.146667rem;
		height:1.146667rem;
		box-sizing: border-box;
		padding:0.226667rem 0;
		img{
			width:0.44rem;
			height:0.64rem;
		}
	}

	.hotSellBox::-webkit-scrollbar{width:0px}
 	.hotSellBox{
		.hotSell{
			margin:0 0.346667rem;
			width:2.746667rem;
			height:4.64rem;
			float:left;

			img{
				width:1.6rem;
				height:2.32rem;
				display:block;
				margin:0.333333rem auto;
			}
			p{
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				word-break: break-all;
				font-size:0.32rem;
				text-align:left;
				color:#202020;
			}
			div{
				font-size:0.453333rem;
				text-align: center;
				color:#FB0036;
				span{
					font-size:0.346667rem;
				}
			}
		}
	}
	.bottom_btn{
		height: 1.19rem;
		background: #fff;
		position: fixed;
		border-top: 1px solid #e5e5e5;
		width: 100%;
		bottom: 0;
		left: 0;
		.left{
			overflow: hidden;
			div{
				width: 1.19rem;
				height: 1.19rem;
				float: left;
				box-sizing: border-box;
				border-right: 1px solid #e5e5e5;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-direction: column;
				flex-direction: column;
				font-size: 0.27rem;
				color: #1C1B20;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-align-items: center;
				align-items: center;
				img{
					height: 0.53rem;
					width: 0.53rem;
				}
			}
			.noborder{
				border: none;
			}
		}
		.right{
			position: absolute;
			right: 0;
			left: 3.57rem;
			top: 0;
			bottom: 0;
		}
		.btn{
			width: 50%;
			height: 1.19rem;
			text-align: center;
			line-height: 1.19rem;
			color: #fff;
			font-size: 0.37rem;
			float: left;
		}
		.buy{
			background: #FB0036;
		}
		.join{
			background: #111111;
		}
	}
}

.icon-close{
	font-size: 0.43rem;
	color: #acacac;
}

/*领取优惠卷弹窗*/
.couponspupu{
	background: #F0F0F0;
	height: 80vh;
	position: relative;
	.attrpoputitle{
		height: 0.69rem;
	}
	.attrcontent{
		margin-bottom: 0!important;
		position: absolute;
		padding-bottom: 0.53rem;
		top: 1.49rem;
		bottom: 0;
		left: 0.24rem;
		right: 0.24rem;
		.box{
			height: 1.87rem;
			width: 100%;
			position: relative;
			margin-bottom: 0.27rem;
			.bg{
				position: absolute;
				height: 1.87rem;
				width: 100%;
				top: 0;
				left: 0;
				img{
					height: 1.87rem;
					width: 100%;
				}
			}
			.content{
				width: 100%;
				height: 1.87rem;
				position: absolute;
				left: 0;
				top: 0;
				.left{
					height: 1.87rem;
					width: 2.8rem;
					float: left;
					color: #fff;
					font-size: 0.8rem;
					line-height: 1.87rem;
					text-align: center;
				}
				.right{
					float: left;
					height: 1.87rem;
					padding: 0.29rem 0 0 0.43rem;
					.rule{
						font-size: 0.29rem;
					}
					.type{
						font-size: 0.29rem;
						color: #FB0036;
						margin: 0.08rem 0;
						width: 4.27rem;
						overflow: hidden;
						text-overflow:ellipsis;
						white-space: nowrap;
					}
					.time{
						font-size: 0.24rem;
						color: #858585;
					}
					.btn{
						position: absolute;
						bottom: 0.24rem;
						right: 0.21rem;
						padding: 0.03rem 0.08rem;
						font-size: 0.29rem;
						border-radius: 2px;
						display: inline-block;
					}
					.unpickupbtn{
						border: 1px solid #FB0036;
						color: #FB0036;
					}
					.pickupbtn{
						border: 1px solid #AAAAAA;
						color: #AAAAAA;
					}
				}
			}
		}
		.listBox{
			margin:0.266667rem 0;
			width:100%;
			overflow: hidden;
			display: flex;
			.leftCon{
				width:1.746667rem;
				height:100%;
				.ai{
					display: inline-block;
					width:1.106667rem;
					height:0.6rem;
					background:rgba(254,240,243,1);
					border-radius: 4px;
					margin:0 0.32rem;
					text-align: center;
					font-size:0.373333rem;
					color:#FB0036;
				}
			}
			.rightCon{
				flex:1;
				div{
					width:100%;
					margin:0 0 0.53rem 0;
					span{
						font-size:0.346667rem;
						color:#0C0B0B;
					}
				}
				
			}

		}
		.comboBoxInfo{
			p{
				margin:0.4rem 0;
				height:0.42rem;
				.comboPrice{
					color:white;
					background:#FB0036 ;
					width:1rem;
					height:0.42rem;
					font-size:0.293333rem;

				}
				.priceCombo{
					margin:0 0.266667rem;
					color:#fb0036;
				}
				.grayPrice{
					color:#858585;
				}
			}
			.comboDetail{
				div{
					width:2.16rem;
					height:2.16rem;
					margin:0 0.25rem;
					img{
						width:100%;
						height:100%;
					}
				}
			}
		}
	}
}

/*商品属性弹窗*/
.attrpopu{
	padding: 0 0.24rem;
	.attrpoputitle{
		text-align: center;
		font-size: 0.43rem;
		padding: 0.4rem 0;
		position: relative;
		i{
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
	}
	.attrcontent{
		margin-bottom: 0.8rem;
		.list{
			border-bottom: 1px solid #F0EFEF;
			padding: 0.4rem 0;
			font-size: 0.37rem;
			.label{
				width: 2.4rem;
			}
			div{
				display: inline-block;
			}
		}
	}
}
.sku_dig{
	.vux-popup-dialog{
		overflow: visible;
	}
}
/*商品规格弹窗*/
.specspopu{
	padding: 0.51rem 0.24rem 1.07rem;
	height: 80vh;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	.icon-close{
		position: absolute;
		right: 0.24rem;
		top: 0.51rem;
	}
	.success_btn{
		height: 1.07rem;
		line-height: 1.07rem;
		text-align: center;
		background: #FB0030;
		color: white;
		font-size: 0.39rem;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.thumb{
		width: 2.93rem;
		height: 2.93rem;
		border: 1px solid #D8D8D8;
		border-radius: 0.13rem;
		position: absolute;
		left: 0.27rem;
		top: -0.53rem;
		background: white;
		overflow: hidden;
		img{
			width: 100%;
		}
	}
	.title{
		padding-left: 3.39rem;
		font-size: 0.35rem;
		p{
			margin-bottom: 0.15rem;
		}
		.price{
			font-size: 0.45rem;
			color: #FB0030;
		}
	}
	.list{
		-webkit-flex: 1;
		flex: 1;
		padding-bottom: 1.6rem;
		overflow-y: scroll;
		.content{
			border-bottom: 1px solid #F0EFEF;
			margin-top: 0.67rem;
			.specsTitle{
				font-size: 0.43rem;
				margin-bottom: 0.43rem;
			}
		}
		.vux-checker-box{
			div{
				width: 1.65rem!important;
				height: 0.77rem!important;
				border-radius: 0.05rem!important;
				line-height: 0.77rem!important;
				text-align: center!important;
				margin: 0 0.35rem 0.45rem 0;
			}
		}
		.uncheck{
			 background: #F4F4F4;
			 color: #1C1B20;
		}
		.check{
			background: #FB0030;
			color: white;
		}
		.num{
			.vux-number-selector{
				svg{
					fill: #000!important;
				}
			}
			.weui-cell{
				padding-left: 0;
				padding-right: 0;
				margin-top: 0.3rem;
				p{
					font-size: 0.43rem;
				}
			}
		}
	}
}
